STRINGTABLE   
  LANGUAGE LANG_KOREAN, SUBLANG_KOREAN   
  {   
   4000, "Performans"   
   4001, "km/s"   
   4002, "s"   
   4003, "{day}/{month}/{year}"   
   4004, "Tarihi göster"   
   4005, "Sistem yükünü göster"   
   4006, "Hızlı parlaklık kontrolü"   
   4007, "'Ayarlar' tuşuna basılı tutarak uygulamayı başlatın"   
   4008, "Dosya seçin"   
   4009, "Uygulamalar"   
   4010, "İkincil navigasyon"   
   4011, "Pzt,Sal,Çar,Per,Cum,Cts,Paz"   
   4012, "Oca,Şub,Mar,Nis,May,Haz,Tem,Ağu,Eyl,Eki,Kas,Ara"   
   4013, "Tarih sınırlayıcı"   
   4014, "Haftanın gününü göster"   
   4015, "Ayı harflerle göster"   
   4016, "USB ile iGo için Haritalar"   
   4017, "Not"   
   4018, "Navigasyon yeniden başlatılacaktır."   
   4019, "Onaylama"   
   4020, "Masaüstüne çıkılsın mı?"   
   4021, "Cihazı yeniden başlat"   
   4022, "Masaüstüne çıkış"   
   4023, "Cihaz yeniden başlatma"   
   4024, "Güvenlik kodunu göster"   
   4025, "Hızı göster"   
  }   
