STRINGTABLE
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
{
  4000,     "Głośnik"
  4001,     "km/h"
  4002,     "s"
  4003,     "{day}/{month}/{year}"
  4004,     "Pokaż datę"
  4005,     "Pokaż obciążenie systemu"
  4006,     "Szybka regulacja jasności"
  4007,     "Uruchom aplikację przyc.'Ustaw'"
  4008,     "Wybierz plik"
  4009,     "program"
  4010,     "Alternatywna nawigacja"
  4011,     "Pon,Wto,Śro,Czw,Pią,Sob,Nie"
  4012,     "Sty,Lut,Mar,Kwi,Maj,Cze,Lip,Sie,Wrz,Paź,Lis,Gru"
  4013,     "Separator"
  4014,     "Pokaż dzień tygodnia"
  4015,     "Pokaż nazwę miesiąca"
  4016,     "Mapy dla iGo na USB"
  4017,     "Informacje"
  4018,     "Nawigacja zostanie ponownie uruchomiona."
  4019,     "Potwierdzenie"
  4020,     "Wyjść do Windows?"
  4021,     "Restart systemu?"
  4022,     "Wyjdź do Windows"
  4023,     "Restart systemu"
  4024,     "Pokaż kod zabezpieczający"
  4025,     "Pokaż prędkość"
}